# Extract

## Exctract - Web Scraping

In [1]:
# Import necessary libraries

import requests #Sending and receiving HTTP requests
from bs4 import BeautifulSoup #Parsing and navigation of HTML and XML web pages
import pandas as pd #Used for data manipulation and analysis

In [2]:
# URL for the webpage to be scraped
url = 'https://www.petsecure.com.au/pet-care/a-guide-to-worldwide-pet-ownership/'

# Send a request to the webpage
response = requests.get(url)

# Parse the HTML content using Beautiful Soup
soup = BeautifulSoup(response.content, 'html.parser')
# print(soup)
# # Find the table with class 'cat'
table = soup.find('table', {'class': 'cats'})

# Extract the table headers
headers = []
for th in table.find_all('th'):
    headers.append(th.text.strip())

# Extract the table data
data = []
for tr in table.find_all('tr'):
    row_data = []
    for td in tr.find_all('td'):
        row_data.append(td.text.strip())
    if len(row_data) > 0:
        data.append(row_data)

# Create a Pandas DataFrame for the table data
population_df = pd.DataFrame(data, columns=headers)

print(headers)
print(data)
# Print the DataFrame
population_df

['TOP 20\nCAT POPULATIONS', '']
[['USA', '74,059,000'], ['China', '53,100,000'], ['Russia', '17,800,000'], ['Brazil', '12,466,000'], ['France', '11,480,000'], ['Germany', '8,200,000'], ['UK', '8,000,000'], ['Italy', '7,400,000'], ['Ukraine', '7,350,000'], ['Japan', '7,300,000'], ['Poland', '5,550,000'], ['Romania', '3,891,000'], ['Spain', '3,385,000'], ['Argentina', '3,000,000'], ['Netherlands', '2,877,000'], ['Hungary', '2,240,000'], ['Australia', '2,200,000'], ['South Africa', '2,000,000'], ['Belgium', '1,884,100'], ['Czech Republic', '1,750,000']]

   TOP 20\nCAT POPULATIONS
0                      USA  74,059,000
1                    China  53,100,000
2                   Russia  17,800,000
3                   Brazil  12,466,000
4                   France  11,480,000
5                  Germany   8,200,000
6                       UK   8,000,000
7                    Italy   7,400,000
8                  Ukraine   7,350,000
9                    Japan   7,300,000
10                  Poland   5,550,000
11                 Romania   3,891,000
12                   Spain   3,385,000
13               Argentina   3,000,000
14             Netherlands   2,877,000
15                 Hungary   2,240,000
16               Australia   2,200,000
17            South Africa   2,000,000
18                 Belgium   1,884,100
19          Czech Republic   1,750,000

In [3]:
# Rename columns
population_df = population_df.rename(columns={population_df.columns[0]:'country',population_df.columns[1]:'cat_population'})
population_df

           country cat_population
0              USA     74,059,000
1            China     53,100,000
2           Russia     17,800,000
3           Brazil     12,466,000
4           France     11,480,000
5          Germany      8,200,000
6               UK      8,000,000
7            Italy      7,400,000
8          Ukraine      7,350,000
9            Japan      7,300,000
10          Poland      5,550,000
11         Romania      3,891,000
12           Spain      3,385,000
13       Argentina      3,000,000
14     Netherlands      2,877,000
15         Hungary      2,240,000
16       Australia      2,200,000
17    South Africa      2,000,000
18         Belgium      1,884,100
19  Czech Republic      1,750,000

## please your create code load data in postgresql extract webscraping

In [ ]:
"""
Create your own code to scrap Fish Table data and rename the column to be more appropriate
"""

## Exctract - API

In [ ]:
import requests
import json
import pandas as pd

# Fetch data from the API
response_API = requests.get('https://api.covid19india.org/state_district_wise.json')
data = response_API.text

# Parse data into JSON format
parse_json = json.loads(data)
# print(parse_json)
# Create a DataFrame
df = pd.DataFrame(parse_json)

# # Transpose the DataFrame for better readability (optional)
df = df.T
# print(df)
# # Create an empty DataFrame to store transformed data
df_transformed = pd.DataFrame(columns=['State', 'District', 'Active', 'Recovered', 'Deceased'])

# Iterate through each row in the original DataFrame
for state, district_data in df['districtData'].items():
    for district, stats in district_data.items():
        active = stats.get('active', 0)
        recovered = stats.get('recovered', 0)
        deceased = stats.get('deceased', 0)

        # Append a new row to the transformed DataFrame
        df_transformed = pd.concat([df_transformed, pd.DataFrame({
            'State': [state],
            'District': [district],
            'Active': [active],
            'Recovered': [recovered],
            'Deceased': [deceased]
        })], ignore_index=True)

# Print the transformed DataFrame
# print(df_transformed.head())
df_transformed.head()

## please your create code load data in postgresql extract -api

# Load

## Load - Initial Load

In [ ]:
  import pandas as pd

# Simulated data (replace with your actual data extraction)
source_data = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Carol'],
    'Salary': [50000, 60000, 70000]
})

# Load data into target table (replace with your actual target table)
target_table = pd.DataFrame()  # Initialize an empty DataFrame

# Concatenate the source data to the target table
target_table = pd.concat([target_table, source_data], ignore_index=True)

# Print the target table (initial load)
print("Target Table (Initial Load):\n", target_table)

## Load - Delta Load

In [ ]:
import pandas as pd

# Simulated existing data (replace with your actual data)
existing_data = pd.DataFrame({
    'ID': [1, 2],
    'Name': ['Alice', 'Bob'],
    'Salary': [50000, 60000],
    'updated_at': ['2023-03-01', '2023-03-02']  # Example existing timestamps
})

# Simulated delta data (replace with your actual delta data)
delta_data = pd.DataFrame({
    'ID': [4, 5],
    'Name': ['David', 'Eve'],
    'Salary': [55000, 72000],
    'updated_at': ['2023-03-01', '2023-03-04']  # Example delta timestamps
})

# Convert timestamps to datetime format
existing_data['updated_at'] = pd.to_datetime(existing_data['updated_at'])
delta_data['updated_at'] = pd.to_datetime(delta_data['updated_at'])

# Filter delta data based on updated_at timestamp
delta_data = delta_data[delta_data['updated_at'] > existing_data['updated_at'].max()]

# Append delta data to the existing data
combined_data = pd.concat([existing_data, delta_data], ignore_index=True)

# Print the updated data (delta load)
print("Combined Data (Delta Load):\n", combined_data)